/* TODO Add site wide styles */
#root{
    padding-top: 55px;
}

body{
    margin: 0;
}

button {
    background-color: none;
    padding: 0;
    border: 0;
}

a{
    color:rgb(0, 29, 92);
    text-decoration: none;
    color: rgb(224, 145, 125);
}
